<h3>My Order</h3>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
  <span>
      <button (click)="delFromOrder(item)" class="button fancy-button"><i 
        class="material-icons">remove_shopping_cart</i>Remove</button>
      </span>
</div>
<p>
  <a routerLink="/extras">Extras - Pricing</a>
</p>

<form [formGroup]="orderForm" (ngSubmit)="onSubmit(orderForm.value)">

  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="name" formControlName="name">
  </div>

  <div>
    <label for="address">
      Address
    </label>
    <input id="address" type="text" formControlName="address">
  </div>

  <button style="vertical-align: text-bottom; margin-right: 16px;" class="button" type="submit">PLACE ORDER</button>

  <button (click)="clearOrder()" class="button fancy-button"><i 
   class="material-icons">remove_shopping_cart</i>Clear Order</button>

</form>