<h2>Hungry? Thirsty?</h2>

<div *ngFor="let item of menu; index as itemId">

    <h3>
        <a [title]="item.name + ' details'"
            [routerLink]="['/menu', itemId]">
            {{ item.name }}
        </a>
        <!-- future functionality to order from menu listing -->
        <!-- <button (click)="addToOrder(item)">Add item</button> -->
    </h3>
    <!-- 'if' eliminates <p> tag for item without description -->
    <p *ngIf="item.description">
        {{ item.description }}
    </p>
    <div *ngIf="item.price > 0">
        <button [title]="'Share'" (click)="share()">
            Dish on this...
        </button>
        <app-menu-specials
            [item]="item"
            (notify)="onNotify()">
        </app-menu-specials>
    </div>


</div>
<!-- separate menu into different courses -->